@import '../../styles/variables.scss';

$header-height: 45px;

.header {
  height: $header-height;
  width: 100%;
  z-index: 1;
  margin-bottom: 1rem;
}

.header-col {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-connection {
  background-color: $yellow;
  border-bottom-right-radius: 20px;
  color: #000;
  user-select: none;
  padding: 12px;
  font-size: 14px;

  * {
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: $tablet) {
    padding: 12px 16px 16px;
  }
}

.connection-label {
  margin-right: 8px;
}

.circle {
  border: 1px solid #000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.header-separator {
  width: 1px;
  background: #000;
  margin: 0 8px;
  height: 12px;
}
