@import '../../styles/variables.scss';

.relative {
  position: relative;
}

.leave-room {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.players {
  background: $yellow;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: $small-desktop) {
    font-size: 16px;
  }

  table {
    table-layout: auto;
    th {
      color: $blue;
    }
  }
}

.player-chameleon {
  background-color: $green;
  color: #fff;
}

.grid-of-words {
  margin: auto;
  min-width: 310px;
  max-width: 586px;
  margin-bottom: 1rem;

  @media (min-width: $small-mobile) {
    min-width: 350px;
  }

  @media (min-width: $tablet) {
    min-width: 550px;
  }
}

.table-title {
  background: #fff;
  color: $blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  text-align: center;

  h2 {
    font-size: 28px;
  }
  h5 {
    font-size: 16px;
    margin: 0px;
  }

  @media (min-width: $tablet) {
    h2 {
      font-size: 32px;
    }
    h5 {
      font-size: 18px;
    }
  }
}

.arrow-collapse {
  background: none;
  border: none;
  color: $purple;
  font-size: 30px;
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease-in-out;

  &.upsideDown {
    transform: rotate(180deg);
  }
}

.grid-table {
  border: 2px solid #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;

  td {
    background-color: #fff;
    border-color: transparent;
    font-size: 14px;
    padding: 5px;
    vertical-align: middle;
  }

  tr:nth-child(even) td:nth-child(odd),
  tr:nth-child(odd) td:nth-child(even) {
    background-color: $aqua;
  }

  td.key-word {
    border: 5px solid $purple;
  }

  td.glowing-cells {
    animation: pulsate 4s ease-in-out infinite;
    cursor: pointer;

    &:hover {
      animation: pulsate 4s ease-in-out infinite;
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }

  .table-vertical,
  th {
    background-color: #fff !important;
    color: #6ad0ba;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.2rem 0.75rem;
    width: initial;
  }

  @media (min-width: $tablet) {
    border: 5px solid #fff;

    td {
      font-size: 16px;
      height: 60px;
      padding: 0px;
      width: 160px;
    }

    .table-vertical,
    th {
      font-size: 1.5rem;
    }
  }
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 1px purple;
  }
  50% {
    box-shadow: 0 0 7px purple;
  }
  100% {
    box-shadow: 0 0 1px purple;
  }
}

.player-options {
  background: $yellow;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1rem;
  text-align: center;

  h4 {
    color: $blue;
    text-align: center;
  }
}

.host-options {
  background: $yellow;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 1rem;
  text-align: center;

  h4 {
    color: $blue;
    text-align: center;
  }
}

.kick-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-to-kick {
  cursor: pointer;
  margin: 0px 5px;

  &:hover {
    text-decoration: underline;
  }
}
