@import '../../styles/variables.scss';

.grid-of-words {
  margin: auto;
  max-width: 586px;
}

.table-title {
  background: #fff;
  color: $blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  text-align: center;

  h5 {
    margin: 0px;
  }
}

.arrow-collapse {
  background: none;
  border: none;
  color: $purple;
  font-size: 30px;
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease-in-out;

  &.upsideDown {
    transform: rotate(180deg);
  }
}

.grid-table {
  border: 5px solid #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;

  td {
    background-color: #fff;
    border-color: transparent;
    height: 60px;
    padding: 0px;
    vertical-align: middle;
    width: 160px;
  }

  tr:nth-child(even) td:nth-child(odd),
  tr:nth-child(odd) td:nth-child(even) {
    background-color: $aqua;
  }

  td.key-word {
    border: 5px solid $purple;
  }

  .table-vertical,
  th {
    background-color: #fff !important;
    color: #6ad0ba;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 0.2rem 0.75rem;
    width: initial;
  }
}
