@import '../../styles/variables.scss';

.lobby-wrapper {
  h3 {
    background-color: $yellow;
    color: $blue;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
  }
}

.host-game {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  width: 100%;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
