@import 'custom';

body,
html {
  color: $black;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  background: repeating-conic-gradient($green 0% 25%, $yellow 0% 50%) 50% / 20px 20px;
  border: 10px $yellow solid;
  height: 100vh;
}

hr {
  margin: 1rem 0;
  padding: 0;
  height: 0;
  border: 0.05rem solid black;
}

h1,
h2 {
  font-family: 'Permanent Marker', cursive;
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    display: block;
    width: auto;
    bottom: 50px;
    right: 40px;
  }

  .inner-footer {
    color: $blue;
    display: flex;
    text-shadow: -2px 0px #fff;
  }

  .footer-words {
    margin-left: 12px;
  }

  h1 {
    margin-bottom: 0;
  }
}
