@import 'custom';

body,
html {
  color: $black;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  background: repeating-conic-gradient($green 0% 25%, $yellow 0% 50%) 50% / 20px 20px;
  min-height: 100vh;

  @media (min-width: $tablet) {
    border: 10px $yellow solid;
  }
}

main {
  min-height: 70vh;
}

hr {
  margin: 1rem 0;
  padding: 0;
  height: 0;
  border: 0.05rem solid black;
}

h1,
h2 {
  font-family: 'Permanent Marker', cursive;
}

#__next {
  position: relative;
}

.marker {
  font-family: 'Permanent Marker', cursive;
}

.footer-height {
  @media (min-width: $tablet) {
    height: 150px;
  }
}

.footer {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    height: 150px;
    width: auto;
    bottom: 0px;
    right: 40px;
  }

  .inner-footer {
    color: $blue;
    display: flex;
    text-shadow: -2px 0px #fff;
  }

  .footer-words {
    margin-left: 12px;
  }

  h1 {
    margin-bottom: 0;
  }
}
