$blue: rgb(50, 115, 153);
$black: #17181a;
$green: rgb(126, 185, 120);
$yellow: rgb(227, 226, 108);
$aqua: #7ff7dd;
$purple: #7f10ad;
$red: #e36c6e;

// Media breakpoints
$large-desktop: 1500px;
$small-desktop: 1199px;
$large-tablet: 991px;
$tablet: 767px;
$mobile: 481px;
$small-mobile: 350px;
