$blue: rgb(50, 115, 153);
$black: #17181a;
$green: rgb(126, 185, 120);
$yellow: rgb(227, 226, 108);

// Media breakpoints
$large-desktop: 1500px;
$small-desktop: 1199px;
$large-tablet: 991px;
$tablet: 768px;
$large-phone: 768px;
$mobile: 481px;
